/* Carrossel inicial */
.item-carrossel {
    display: none;
}

.ativo {
    display: block;
}

main {
    width: 100vw;
    height: 100vh;
    margin-bottom: 150px;
    scroll-snap-type: y mandatory;
}

main div {
    scroll-snap-align: start;
}



/* Itens do carrossel */
@keyframes toUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes toDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes toLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes toRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* item 1 */
main div div#item-carr-1.ativo {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    background-image: url("../images/index_carrossel/bibliotecas_carroceo1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

main div div#item-carr-1.ativo div.subitem {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 7;
    display: flex;
    margin-top: 60px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #fff2afd0;
    border: goldenrod solid 2px;
}

main div div#item-carr-1.ativo div.subitem h1.title {
    font-size: 42pt;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 50px;
    animation: toLeft 0.5s ease-in-out 1;

}

main div div#item-carr-1.ativo div.subitem div {
    width: 250px;
    height: 250px;
    background-color: rgba(138, 43, 226, 0.350);
    border: rgb(114, 33, 190, 0.5) solid 2px;
    border-radius: 50px;
    padding: 25px;
    margin-top: 35px;
    animation: toUp 0.5s ease-in-out 1;
}

main div div#item-carr-1.ativo div.subitem div img {
    width: 200px;
    height: 200px;
    animation: toUp 0.7s ease-in-out 1;
}


/* Resolução para telas pequenas */
@media screen and (max-width: 576px) {

    /* Item 1 do carrossel */
    main div div#item-carr-1.ativo div.subitem {
        display: grid !important;
        place-items: center;
        padding-bottom: 20px;
    }

    main div div#item-carr-1.ativo div.subitem h1.title {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
}


/* Resolucão para telas médias */
@media screen and (max-width: 768px) {

    /* Item 1 do carrossel */
    main div div#item-carr-1.ativo div.subitem {
        margin-left: 0;
    }

    main div div#item-carr-1.ativo div.subitem h1.title {
        margin-top: 50px;
    }
    
}




/* item 2 */
main div div#item-carr-2.ativo div.subitem {
    background-color: blueviolet;
    padding: 100px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    height: 100vh;
}

main div div#item-carr-2.ativo div.subitem div {
    display: grid;
    place-items: left;
    position: relative;
}

main div div#item-carr-2.ativo div.subitem div h1.title {
    font-size: 42pt;
    height: 25%;
}

main div div#item-carr-2.ativo div.subitem div h1.title span {
    color: goldenrod;
}

main div div#item-carr-2.ativo div.subitem div p {
    font-size: xx-large;
}

main div div#item-carr-2.ativo div.subitem img {
    height: 350px;
    width: auto;
    align-items: center;
    position: relative;
}





main div button.btn {
    position: absolute;
    top: 45%;
    border-radius: 50%;

    /* background-color: rgba(128, 128, 128, 0.767); */
    font-size: 32pt;
    color: white;

    display: block;
    z-index: 7;

    width: 50px;
    height: 50px;

    justify-content: center;
    align-items: center;
}

main div button.btn:hover {
    color: blueviolet;
}

#voltar {
    left: 12px;
}

#proximo {
    right: 20px;
}


/* Lista de livros */
div.lista {
    margin-top: 20px;
}

div.lista h3 a {
    text-decoration: none;
    transition: all 200ms;
}

div.lista h3 a:hover {
    color: blueviolet;
    text-decoration: underline;
    transition: all 350ms;
}

div.list858a div.row {
    width: 100%;
}

div.lista div.row div.col-12 {
    padding: 5px 0;
    margin-top: 15px;
}

div.lista div.row div.col-12 div {
    display: grid;
    place-items: center;
    padding: auto;
}

div.lista div.row div.col-12 div img {
    width: 150px;
    height: 220px;
    border: #000 solid 2px;
    border-radius: 10px;
    transition: all 500ms;
}

div.lista div.row div.col-12 div:hover img {
    width: 160px;
    height: 230px;
    transition: all 1s;
}

div.lista div.row div.col-12 div div {
    width: 100%;
    margin-top: 5px;
    
}

div.lista div.row div.col-12 div div p.text {
    font-size: larger;
    margin-bottom: 0px;
}

div.lista div.row div.col-12 div div p.long-text {
    font-size: large;
    color: green
}

div.lista div.row div.col-12 div div a.btn {
    color: #fff;
    background-color: blueviolet;
    padding: 7px;
    transition: all 200ms;
}

div.lista div.row div.col-12 div div a.btn:hover {
    background-color: rgb(114, 33, 190);
    color: gold;
    transition: all 350ms;
}


/* Anúncio */
div.anuncio-container {
    display: flex;
    justify-content: center;
}
div.anuncio-container div.anuncio {
    min-width: 300px;
    max-width: 550px;
    width: auto;
    height: 550px;
    margin: 25px 50px;
    margin-bottom: 0;
    background-color: blueviolet;
    border: rgb(114, 33, 190) solid 2px;
    border-radius: 15px;
    transition: all 1s;
}

div.anuncio-container div.anuncio:hover {
    min-width: 320px;
    max-width: 570px;
    transition: all 1s;
}


/* Informações sobre a Pisk */
section.info {
    width: 100vw;
    height: 85vh;
}
section.info div.info {
    margin: 30px;
    background-color: #fff2afe0;
    border: goldenrod solid 2px;
    border-radius: 15px;
    height: 100%;
}


/* Fundadores */
section.fundadores h2.title {
    text-align: center;
}

section.fundadores div {
    display: grid;
    place-items: center;
    margin: 15px auto;
}

section.fundadores div img.fundador {
    width: 200px;
    height: 200px;
    border: rgb(88, 0, 88) groove 5px;
    border-radius: 50px;
}

section.fundadores div p.text {
    font-size: x-large;
    font-weight: bold;
}


/* Autores de destaque */
section.autores div {
    display: grid;
    place-items: center;
    margin: 15px auto;
}

section.autores div img.autor {
    width: 200px;
    height: 200px;
    border: rgba(88, 0, 88, 0.9) double 5px;
    border-radius: 50%;
}

section.autores div p.text {
    font-size: larger;
    font-weight: bold;
}
