
/*
    Importação das fonts usadas no site
    Padrões de texto usados no site: Títulos, textos breves e textos longos
*/
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.title {
    font-family: "Caprasimo", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.long-text {
    font-family: 'Times New Roman', Times, serif;
}


/* Testes */

body {
    overflow-x: hidden;
}

.item-carrossel {
    display: none;
}

.ativo {
    display: block;
}

nav.navbar {
    z-index: 4;
    top: 0;
    left: 0;
}

main div div {
    width: 100vw;
    height: 100vh;
}

main div div img {
    width: 100vw;
    height: 100vh;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

main div button.btn {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.767);
    font-size: 24pt;
    color: white;
    display: block;
    z-index: 6;
    padding: auto;
    width: 50px;
    height: 50px;
}

#voltar {
    left: 15px;
}

#proximo {
    right: 15px;
}